@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.background-animation path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 20s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.background-animation {
    animation: float 10s ease-in-out infinite;
}
